<div class="border-right border-secondary p-4">
    <div class="row align-items-center">
        <img style="width:60px; height: 60px;" [src]="url" alt="pikachy">
        <h6>Column header</h6>
    </div>

    <!-- elements of the user -->
    <div class="row">
        <div class="col-12" *ngFor="let item of items">
                <p class="text-left">{{ item.title }}</p>

                <div class="col-12" *ngFor="let element of item.items">
                    <p>
                        <i></i>
                        {{ element.title }}
                    </p>
                </div>
        </div>
    </div>
</div>