<div class="dropdown">
  <a 
      class="nav-link dropdown-toggle" 
      id="dropdownButton" 
      data-toggle="dropdown"
      aria-haspopup="true"
      aria-expanded="false"
      >
    Dropdown
</a>

  <div class="dropdown-menu" aria-labelledby="dropdownButton">
    <!-- loop here for those items -->
    <a href="#" class="dropdown-item">Action</a>
    <a href="#" class="dropdown-item">Action</a>
    <a href="#" class="dropdown-item">Action</a>
  </div>
</div>