<!-- navbar-expand-lg make align items in horizontal way -->
<nav class="navbar navbar-expand-lg navbar-primary header">
  <a class="navbar-brand mb-0 h1">Angular Facebook</a>
  <!-- icons -->
  <span class="oi oi-person mr-2 pointer" title="person"></span>
  <span class="oi oi-chat mr-2 pointer" title="chat"></span>
  <span class="oi oi-globe mr-2 pointer" title="globe"></span>

  <!-- search input -->
  <form class="form-inline mr-auto w-50">
    <input class="form-control w-75" type="search" aria-label="Search" placeholder="Search...">
    <span class="input-group-append" style="margin-left: -5px;">
        <button class="btn btn-light border-left-0 border" type="button">
            <i class="oi oi-magnifying-glass"></i>
        </button>
    </span>
  </form>

  <!-- user options -->
  <ul class="navbar-nav ml-auto">
    <li class="nav-item active">
      <a class="nav-link">User</a>
    </li>

    <li class="nav-item">
      <a class="nav-link">Options</a>
    </li>

    <li class="nav-item pointer">
      <!-- dropdown options -->
      <app-dropdown></app-dropdown>
    </li>
  </ul>
</nav>