<div class="container-fluid">
    <!-- header -->
    <app-header></app-header>

    <!-- body -->
    <div class="row mr-0 ml-0">
        <div class="col-2 p-0">
            <app-menu></app-menu>
        </div>
        
        <div class="col-10 p-0">
            <app-section></app-section>
        </div>
    </div>
</div> 