<div class="row align-items-center m-0 bg-lightgrey p-2 mb-4">
    <div class="col-2">
        <img style="width: 80px; height: 80px;" [src]="'https://cdn.iconverticons.com/files/png/fa2966e51dfb847f_256x256.png'" alt="user">
    </div>
    
    <div class="col-10">
        <p>
            <strong>Kendra Willson</strong> The international world's etymology is still disputed.
            I'm not sure when it stopped being used for auks.
        </p>
        <span class="mr-2">4 min ago</span>
        <a href="#">Like</a>
    </div>

    <!-- input -->
    <div class="col-12 border-top border-secondary pt-3 mt-2">
        <input class="form-control" type="text" placeholder="Type something...">
    </div>
</div>