<div class="border border-primary p-4">
    <!-- header -->
    <div class="row m-0">
        <p>header with some stuff</p>
    </div>

    <!-- main section content here (Scrollable) -->
    <div class="row m-0">
        <div class="col-12 mb-4" *ngFor="let item of content">
            <!-- post -->
            <div class="row align-items-center border-bottom border-primary">
                <img class="align-self-start" style="width: 100px; height: 100px;" [src]="'https://cdn.iconverticons.com/files/png/fa2966e51dfb847f_256x256.png'" alt="user">
                <div class="col-8">
                    <strong>User name</strong>
                    <p>Some description...</p>
                    <div class="row m-0">
                            <a href="#" class="mr-3">Like</a>
                            <a href="#" class="mr-3">Share</a>
                            <a href="#" class="mr-3">Comment</a>
                    </div>
                    <!-- comments -->
                    <app-comments></app-comments>
                </div>
            </div>
        </div>
    </div>

    <!-- right section -->
</div>